*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.inputs_value {
  margin-bottom: 30px;
}

.win {
  color: green;
}

.lose {
  color: red;
}
